.header{
  background-color: #000000;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0, 10%;
  padding-left: 1rem;
}
.header ul {
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  align-items: baseline;
}
.header a {
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-size: 1.5rem;
}
.header li {
  margin-left: 3rem;
}
.logo {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.header a:hover,
.header a:active,
.header a:active{
  color: white;
}
